<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MoocFieldTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MoocFieldT">
        <id column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="film_id" property="filmId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="hall_id" property="hallId" />
        <result column="hall_name" property="hallName" />
        <result column="price" property="price" />
    </resultMap>
    <!--一对多查询-->
    <resultMap id="getFilmInfoMap" type="com.stylefeng.guns.api.cinema.vo.FilmInfoVO">
      <result column="film_id" property="filmId"></result>
        <result column="film_name" property="filmName"></result>
        <result column="film_length" property="filmLength"></result>
        <result column="film_language" property="filmType"></result>
        <result column="film_cats" property="filmCats"></result>
        <result column="director_name" property="directorName"></result>
        <result column="img_address" property="imgAddress"></result>
        <collection property="filmFields" ofType="com.stylefeng.guns.api.cinema.vo.FilmFieldVO">

            <result column="show_date" property="showDate"></result>

            <collection property="showDates"  ofType="com.stylefeng.guns.api.cinema.vo.ShowDate">
                <result column="UUID" property="fieldId"></result>
                <result column="begin_time" property="beginTime"></result>
                <result column="end_time" property="endTime"></result>
                <result column="film_language" property="language"></result>
                <result column="hall_name" property="hallName"></result>
                <result column="hall_id" property="hallId"></result>
                <result column="price" property="price"></result>
            </collection>

        </collection>
    </resultMap>



<select id="getFilmInfos" parameterType="Integer" resultMap="getFilmInfoMap">
SELECT
	info.film_id,
	info.film_name,
	info.film_length,
	info.film_language,
	info.film_cats,
	info.director_name,
	info.img_address,
	f.UUID,
left(f.begin_time,10) as show_date,
		substring(f.begin_time,-8,5) as begin_time,
	substring(f.end_time,-8,5)as end_time,
	f.hall_id,
	f.hall_name,
	f.price
FROM
	mooc_hall_film_info_t info
, mooc_field_t f WHERE f.film_id = info.film_id
AND f.cinema_id = #{cinemaId}
AND f.begin_time>=NOW()
ORDER BY
	show_date

</select>

    <select id="getHallInfo" parameterType="Integer" resultType="com.stylefeng.guns.api.cinema.vo.HallInfoVO">
SELECT
	f.UUID AS hallFieldId,
   f.hall_name     as hallName,
   f.price ,
   hall.seat_address as seatFile

FROM
	mooc_hall_dict_t hall,
	mooc_field_t f
WHERE
	f.hall_id = hall.UUID
AND f.UUID = #{fieldId};


    </select>
    <select id="getFilmInfoById" parameterType="Integer" resultType="com.stylefeng.guns.api.cinema.vo.FilmInfoVO">

SELECT
	info.film_id AS filmId,
	info.film_name AS filmName,
	info.film_language AS filmType,
	info.img_address AS imgAddress,
	info.film_cats AS filmCats,
	info.film_length AS filmLength
FROM
	mooc_field_t f,
	mooc_hall_film_info_t info
WHERE
	f.film_id = info.film_id
AND f.UUID = #{fieldId}

    </select>
<select id="getCinemasByFilmId" resultType="com.stylefeng.guns.api.cinema.vo.CinemaWithFilmVO">

 select cinema.UUID as cinemaId,cinema.cinema_name as cinemaName,cinema.cinema_address as cinemaAddress,min(field.price) as filmMinPrice,GROUP_CONCAT(SUBSTRING(field.begin_time,-8,5)SEPARATOR ',')as filmRound from mooc_cinema_t cinema, mooc_field_t field
where field.cinema_id=cinema.UUID and field.film_id=#{filmId} and DATE_FORMAT(field.begin_time,'%Y-%m-%d')=#{releaseDate} group by cinemaName,cinemaId,cinemaAddress




</select>
    <select id="getCinemasByFilmIdCounts" resultType="int">

        select count(DISTINCT field.cinema_id) from mooc_field_t field where  field.film_id=#{filmId} and DATE_FORMAT(field.begin_time,'%Y-%m-%d')=#{releaseDate};

    </select>

</mapper>
