<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MoocFilmTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MoocFilmT">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>
<select id="getFilmDetailByName" parameterType="String" resultType="com.stylefeng.guns.api.film.vo.FilmDetailVO">
SELECT
    film.uuid as filmId,
	film.film_name AS filmName,
	info.film_en_name AS filmEnName,
	film.img_address AS imgAddress,
	info.film_score AS score,
	info.film_score_num AS scoreNum,
	film.film_box_office AS totalBox,
	film.film_status as status,
	(
		SELECT
			GROUP_CONCAT(show_name SEPARATOR ',')
		FROM
			mooc_cat_dict_t t
		WHERE
			FIND_IN_SET(
				t.UUID,
				(
					SELECT
						REPLACE (
							TRIM(BOTH '#' FROM film_cats),
							'#',
							','
						)
					FROM
						mooc_film_t t
					WHERE
						t.uuid = film.uuid
				)
			)
	) AS info01,
	concat(
		(
			SELECT
				show_name
			FROM
				mooc_source_dict_t t
			WHERE
				t.UUID = film.film_source
		),
		'/',
		info.film_length,
		'分钟'
	) info02,
	concat(
		film.film_time,
		(
			SELECT
				show_name
			FROM
				mooc_source_dict_t t
			WHERE
				t.UUID = film.film_source
		),
		'上映'
	) info03
FROM
	mooc_film_t film,
	mooc_film_info_t info
WHERE
	film.UUID = info.film_id
	<if test="!isList">
		AND film.film_name LIKE #{filmName}
	</if>



</select>

    <select id="getFilmDetailListOrById" parameterType="String" resultType="com.stylefeng.guns.api.film.vo.FilmDetailVO">
SELECT
 film.uuid as filmId,
		film.film_preSaleNum as filmPreSaleNum,
		film.film_type as filmType,
		film.film_date as filmYear,
       film.film_source as filmSource,

        film.film_cats as filmCat,
	film.film_name AS filmName,
	info.film_en_name AS filmEnName,
	film.img_address AS imgAddress,
	info.film_score AS score,
	info.film_score_num AS scoreNum,
	film.film_box_office AS totalBox,
		film.film_status as status,
	(
		SELECT
			GROUP_CONCAT(show_name SEPARATOR ',')
		FROM
			mooc_cat_dict_t t
		WHERE
			FIND_IN_SET(
				t.UUID,
				(
					SELECT
						REPLACE (
							TRIM(BOTH '#' FROM film_cats),
							'#',
							','
						)
					FROM
						mooc_film_t t
					WHERE
						t.uuid = film.uuid
				)
			)
	) AS info01,
	concat(
		(
			SELECT
				show_name
			FROM
				mooc_source_dict_t t
			WHERE
				t.UUID = film.film_source
		),
		'/',
		info.film_length,
		'分钟'
	) info02,
	concat(
		film.film_time,
		(
			SELECT
				show_name
			FROM
				mooc_source_dict_t t
			WHERE
				t.UUID = film.film_source
		),
		'上映'
	) info03
FROM
	mooc_film_t film,
	mooc_film_info_t info
WHERE
	film.UUID = info.film_id
		<if test="!isList">
			AND film.UUID = #{uuid}
		</if>
		<if test="status[0]!='0' and !isAll">
			AND film.film_status IN
            <foreach collection="status" item="item" index="index" open="(" close=")" separator=",">

              #{item}

            </foreach>

		</if>
		<if test="isList">
			LIMIT #{rowIndex},#{pageSize}

		</if>



    </select>
	<select id="getAllFilmId" resultType="Integer">
		select UUID from mooc_film_t
	</select>

	<select id="getFilmCountByStatus" resultType="int">
		SELECT
count(film.uuid)

FROM
	mooc_film_t film,
	mooc_film_info_t info
WHERE
	film.UUID = info.film_id


			AND film.film_status IN
		<foreach collection="status" item="item" index="index" open="(" close=")" separator=",">

			#{item}

		</foreach>



	</select>
	<insert id="insertAndGetId"  keyProperty="moocFilmT.uuid" useGeneratedKeys="true" parameterType="com.stylefeng.guns.rest.common.persistence.model.MoocFilmT" >


		insert into mooc_film_t(film_name,film_type,img_address,film_source,film_cats,film_area,film_date,film_time,film_status) values (#{moocFilmT.filmName},#{moocFilmT.filmType},#{moocFilmT.imgAddress},#{moocFilmT.filmSource},#{moocFilmT.filmCats},#{moocFilmT.filmArea},#{moocFilmT.filmDate},#{moocFilmT.filmTime},#{moocFilmT.filmStatus})
	</insert>

</mapper>
